# ignore supplementary folders
dev/
tempdata/
dataraw/

# ignore data files - rm *.RData when updating app data
*.gz
*.RDS
# *.geojson
*.RData 
data.zip

# ignore project files
.DS_Store
.Rhistory
.Rproj.user/
