# ignore supplementary folders
dev/
tempdata/
dataraw/


# ignore data files - rm *.RData when updating app data
*.gz
*.RDS
*.geojson
*.RData 
data.zip

# ignore project files
.DS_Store
.Rhistory
.Rproj.user/


# workshop files ai and indd 
geography/ES_Census_Poster*
geography/ES_Mapping_Station*
geography/es_tracts.ai
geography/maps/
materials/winterworkshop_2023/ESVA_Map.svg

# other for esva-livability-tool
~/.boxr-oauth
dev/
easternshore-dashboard/esva-livability-tool/app_data_archived/
easternshore-dashboard/esva-livability-tool/json_edits/
easternshore-dashboard/esva-livability-tool/rsconnect/
easternshore-dashboard/esva-livability-tool/saved_rdata/
easternshore-dashboard/esva-livability-tool/styles.css
easternshore-dashboard/esva-livability-tool/test-images/